.leaflet-bottom.leaflet-left {
  width: 100%;
}

.leaflet-control.leaflet-timeline-control {
  margin: 1%;
}
// .leaflet-control-container .leaflet-timeline-controls {
//   box-sizing: border-box;
//   width: 100%;
//   margin: 0;
//   margin-bottom: 15px;
// }

// fix a chrome bug in "msg" popup, not breaking long words
.leaflet-popup-content {
  .msg {
    overflow-wrap: break-word;
  }
}

