<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UA Controlmap Timelines</title>
  {{ $sass := resources.Get "scss/index.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
<body>

<div id="app">
  <header>
    <h3>UAControlMap Timelines</h3>
  </header>
  <div id="content">
    <div class="max-wrapper">
      <div class="map-links">
        <a href="geolocations" class="map-link link-positions">
          <h3>Geolocations</h3>
        </a>
        <!--
        <a href="frontline" class="map-link link-positions">
          <h3>Frontline</h3>
        </a>
      -->
      </div>
    </div>
  </div>
</div>



</body>
</html>